.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 20px 0;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.name {
  font-size: 12px;
  font-weight: 200;
  line-height: 15px;
  color: #a9a9a9;
  font-family: "Inter", sans-serif;
}
.value {
  font-size: 16px;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}
.none {
  opacity: 0.3;
}
