.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;
  padding-bottom: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.value {
  font-size: 16px;
  font-weight: 400;
}
.none {
  opacity: 0.3;
}
