.container {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% + 1px);
  background: #000;
  padding: 40px 10px;
  border-left: 1px solid #777777;
  box-sizing: border-box;
  transform: translateY(-100%);
  z-index: 9;
  padding-bottom: 40px;
  min-height: 100%;
  &.open {
    animation: slideUp 0.5s ease-in-out forwards;
  }
  &.close {
    animation: slideDown 0.5s ease-in-out forwards;
  }
}
.closeButton {
  margin: 0 0 0 auto;
  display: block;
  width: 20px;
  height: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.year {
  font-size: 24px;
  font-weight: 200;
}
.icon {
  height: 24px;
  object-fit: contain;
}
.iconContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.colorCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.red {
  background: #ff0000;
}
.orange {
  background: #ff6200;
}
.yellow {
  background: #ffee00;
}
.green {
  background: #00ff73;
}
.blue {
  background: #001eff;
}
.purple {
  background: #c400ff;
}
.grayscales {
  background: linear-gradient(180deg, #ffffff 0%, #000000 100%);
}
.image {
  margin-top: 20px;
  width: 320px;
  height: 320px;
  object-fit: contain;
  background: #fff;
  display: inline-block;
}
.descriptionTitle {
  margin-top: 20px;
  color: #a9a9a9;
  font-size: 16px;
  display: block;
}
.description {
  margin-top: 10px;
  font-size: 14px;
  word-break: keep-all;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
