.container {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: #000;
  padding: 40px 10px;
  box-sizing: border-box;
  z-index: 99;
  transform: translateY(-100%);
  &.open {
    animation: slideUp 0.2s ease-in-out forwards;
  }
  &.close {
    animation: slideDown 0.2s ease-in-out forwards;
  }
}
.closeButton {
  margin: 0 0 0 auto;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50px;
  right: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.gap {
  height: 40px;
  width: 100%;
}
.title {
  font-weight: 200;
  font-size: 16px;
}
.list {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  overflow-y: auto;
  height: 100%;
}
.colorList {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  overflow-y: auto;
  height: 100%;
}
.item {
  padding: 10px 0;
}
.option {
  padding: 5px;
  border: 1px solid #a9a9a9;
  box-sizing: border-box;
}
.selected {
  border-color: #fff;
  color: #fff;
}
button {
  display: inline-block;
  color: #a9a9a9;
  font-size: 16px;
  font-weight: 200;
}
.seeAllButton {
  font-size: 16px;
  font-weight: 200;
  color: #a9a9a9;
  margin-left: 10px;
}
.divider {
  margin: 40px 0;
  border-bottom: 1px solid #777777;
}
.colorOption {
  cursor: pointer;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
