.container {
  height: 100%;
  overflow: auto;
}

.list {
  margin: 36px 30px 0 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.item {
  background: #fff;
  height: 320px;
  cursor: pointer;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.empty {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 28px;
    font-weight: 200;
  }
}
